{{define "title"}}Home{{end}}

{{define "main"}}
    <!-- heading and bio -->
    <h1>Brad Preston</h1>
    <p>I am a 30 year old full stack developer from Kalamazoo, MI. I have a focus on NextJS, TypeScript, and Golang with 6 years of practice and 1.5 years of professional experience.</p>
    
    <!-- skills -->
    <section class="skills">
        <h2>My skills</h2>
        <div class="stacks">
            <div class="preferred-stack">
                <h3>Preferred stack:</h3>
                <ul>
                {{range .PreferredStack}}
                <li>{{.}}</li>
                {{end}}
                </ul>
            </div>

            <div class="past-tech">
                <h3>Tech I've Used:</h3>
                <ul>
                {{range .PreviousTech}}
                <li>{{.}}</li>
                {{end}}
                </ul>
            </div>
        </div>
    </section>
{{end}}
