
{{template "base" .}}
{{define "title"}}Work{{end}}
{{define "main"}}

<h1>{{.Title}}</h1>
<p class="description">{{.Description}}<p>
<p>Tech used:</p>
<ul class="tech-stack">
    {{range .Stack}}
    <li>{{.}}</li>
    {{end}}
</ul>
<a class="button" href="{{.URL}}" target="_blank">Visit {{.Title}}<a>
{{end}}
