{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Brad Preston</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <main>
            {{template "main" .}}
        </main>
        <footer>
            Hand crafted by Brad Preston
        </footer>
    </body>
</html>
{{end}}
