{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{template "title" .}} - Brad Preston</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <main>
            <div class="container">
                {{template "main" .}}
            </div>
        </main>
    </body>
    <footer>
        <script>
        function addStickyHeader() {
            const h1 = document.querySelector("h1");
            if (h1.getBoundingClientRect().top <= 0) {
                h1.classList.add("sticky-header");
            } else {
                h1.classList.remove("sticky-header");
            }
        }
        // add sticky header on page scroll
        window.onscroll = function() {
            addStickyHeader();
        }
        // add sticky header on page load
        addStickyHeader();

        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
        </script>
    </footer>
</html>
{{end}}
